<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
     <mapping resource="hbm/snaker.task.hbm.xml" />
     <mapping resource="hbm/snaker.order.hbm.xml" />
     <mapping resource="hbm/snaker.process.hbm.xml" />
     <mapping resource="hbm/snaker.taskactor.hbm.xml" />
     <mapping resource="hbm/snaker.workitem.hbm.xml" />
  </session-factory>
</hibernate-configuration>